@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    font-family: 'Fjalla One', sans-serif;
}

body {
    /* background-image : url("https://thumbs.dreamstime.com/b/two-wine-glasses-red-wine-bottle-wine-table-red-background-two-wine-glasses-red-wine-bottle-wine-234926059.jpg"); */
    background-size : cover;
    background-position: center;
    background-attachment : fixed;
}